<div class="row">
  <nav class="navbar navbar-expand-md bg-body fw-bold  shadow-sm">
    <div class="container-fluid">
      <!-- Logo on the left side -->
      <a class="navbar-brand  " href="#">Shopwise</a>

      <!-- Links and dropdowns on the right side -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ms-auto"> <!-- ms-auto aligns the links to the right -->
            
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile-card">Profile-Card</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/counter">Counter</a></li>
              <li><a class="dropdown-item" routerLink="/todo-list">Todo-List</a></li>
              <li><a class="dropdown-item" routerLink="/stop-watch">Stop-Watch</a></li>
              <li><a class="dropdown-item" routerLink="/guess-game">Guessing Game</a></li>
              <li><a class="dropdown-item" routerLink="/tic-tac-toe">Tic Tac Toe </a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
</div>

<router-outlet></router-outlet>