<div class="container mt-4">
    <section class="jumbotron text-center">
      <h1>Welcome to the Angular Tutorial</h1>
      <p class="lead">Learn Angular from Scratch to Advanced Concepts</p>
      <a href="#" class="btn btn-primary btn-lg">Get Started</a>
    </section>
  
    <section class="row mb-4">
      <h2>Features</h2>
      
      <!-- First Column with 6 Rows -->
      <div class="col-md-4">
        <ul>
          
          <li routerLink="/profile-card"> Profile Card</li>
          <li routerLink="/counter">Counter</li>
          <li routerLink="/todo-list">Simple Todo</li>
          <li routerLink="/stop-watch">Stop Watch</li>
          <li routerLink="/guess-game">Guessing Game</li>
          <li routerLink="/tic-tac-toe">Tic Tac Toe</li>
          <li routerLink="/dynamic-filter">Dynami Filter</li>
           <li routerLink="/faq-accordion">Faq Accordion</li>
            <li routerLink="/jokes">Random Jokes Genrator</li>

          <li>Introduction 6</li>
          <li>Introduction 6</li>
          
        </ul>
      </div>
    
      <!-- Second Column with 3 Rows -->
      <div class="col-md-4">
        <ul>
          <li>Introduction 1</li>
          <li>Introduction 2</li>
          <li>Introduction 3</li>
          <li>Introduction 4</li>
          <li>Introduction 5</li>
          <li>Introduction 6</li>
          <li>Introduction 6</li>
          <li>Introduction 6</li>
          <li>Introduction 6</li>
          <li>Introduction 6</li>
          
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li>Introduction 1</li>
          <li>Introduction 2</li>
          <li>Introduction 3</li>
          <li>Introduction 4</li>
          <li>Introduction 5</li>
          <li>Introduction 6</li>
          <li>Introduction 6</li>
          <li>Introduction 6</li>
          <li>Introduction 6</li>
          <li>Introduction 6</li>
          
        </ul>
      </div>
    
    </section>
    
    <footer class="footer text-center py-4">
      <p>&copy; 2025 Angular Tutorial - All Rights Reserved</p>
    </footer>
 
  </div>